{% extends 'base.html' %}
{% load static %}

{% block title %}Script Spinner - Thank You{% endblock %}

{% block css %}
<link href="{% static 'css/invoice.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Thank You</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Subscribe</li>
            <li>Thank You</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        {% if messages %}
            {% for msg in messages %}       
                <div class="alert alert-{{msg.level_tag}}" role="alert">
                {{msg.message}}
                </div>
            {% endfor %}
        {% endif %}

       <h3 style= "text-align:center"><b>Thank You For Purchasing Script Spinner! Below Is Your Invoice For Your Recent Subscription Purchase. We Hope You Enjoy!</h3></b>
        <div class="row py-3">
          <div class="col-lg-12 col-md-12">
             <div class="container">
              
                <div class="invoice-box">
                    <table cellpadding="0" cellspacing="0">
                        <tr class="top">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td class="title">
                                            <img style= "display:block; margin-left: auto; margin-right: auto; width: 50%" src="{% static 'img/img_script.png'%}"alt="Logo">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="information">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td>
                                            Script Spinner<br>
                                            3900 University Blvd <br>
                                            Tyler, Texas                                     
                                        </td>
                                        <td>
                                            {{ user.first_name }} {{ user.last_name }}<br>
                                            {{ user.email }}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="heading">
                            <td>
                                Form of Payment
                            </td>      
                            <td>
                                Details
                            </td>
                        </tr>
                        <tr class="details">
                            <td>
                                {{ payment_method }}
                            </td>
                        </tr>  
                        <tr class="heading">
                            <td>
                                Subscription Type
                            </td>
                            <td>
                                Price
                            </td>
                        </tr>
                        <tr class="item">
                            <td>
                                {{ plan_name }} Subscription
                            </td>
                            <td>
                                ${{ plan }}.00
                            </td>
                        </tr>
                        <tr class="total">
                            <td></td>
                            <td>
                               Total: ${{ plan }}.00
                            </td>
                        </tr>
                    </table>
             </div>
          </div>
      </div>  
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}

{% block js %}
{% endblock %}