{% extends 'base.html' %}
{% load static %}

{% block title %}Script Spinner - About{% endblock %}

{% block css %}
{% endblock %}

{% block main %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>About</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
      
    
        <h1 style="text-align:center"></b>About Script Spinner</h3></b>
      

        <p style="text-align:center;">Script Spinner was created by six students whose one goal is to help you!
        </p>
          <br>
          <p>
            In your academic and professional careers, you will be met with countless 
            opportunities to create presentations and we want you to be as prepared as 
            possible. Creating provoking and meaningful presentations can be a way to impress, 
            inspire, and teach those around you. A great presentation will bring you and 
            those around you with more knowledge and insight. With our program, you will be 
            able to prep, practice, and perfect your upcoming presentation! We’ve included 
            exciting features to help you with your timing, eye contact, and much more. Start 
            off with our free month trial and see what all the hype is about with Script 
            Spinner! We guarantee that your presentations will never be the same without us!
        </p>
        <br>
        <img style="display:block; margin-left: auto; margin-right: auto; width: 50%" src="{% static 'img/img_group.jpg'%}" alt="Group" width="400" height="300">
        <br>
        <h3 style="color:#16df7e; font: size 70px; text-align: center;">
          Our Mission Is To Help You Achieve Your Goal </h3>
      
         
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}

{% block js %}
{% endblock %}