{% extends 'base.html' %}
{% load static %}

{% block title %}Script Spinner - Contact{% endblock %}

{% block css %}
{% endblock %}

{% block main %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Contact</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">

        <p>
        Have questions regarding your Script Spinner subscription? We are here to assist you! <br>
        Email us with your name and issue and one of our trusted associates will get back to
        you as quickly as possible! <br>Prefer to chat in real-time? Click on the Chat Support button below!<br>
        Email: Scriptspinner@gmail.com<br>
        Number: 903-283-3751 <br>
        CHAT HOURS
        Monday-Friday: 8:00 AM -5:00 PM (CST)<br>
        Want to see more Script Spinner? Follow us on our socials!<br>
        Instagram: @scriptspinner                         Twitter: @scriptspinner<br>
        Facebook: @scriptspinner                         TikTok: @scriptspinner<br>
        </p>
        <img src="{% static 'img/chat.jpg' %}" alt="Chat Image" style="width300px; height: 300px;">

      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}

{% block js %}
{% endblock %}