{% extends 'base.html' %}
{% load static %}

{% block title %}Script Spinner - Product{% endblock %}

{% block css %}
{% endblock %}

{% block main %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Product</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Product</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">

        <h4 style="text-align:center;">Screenshot from our product</h4>
        <img style="display:block; margin-left: auto; margin-right: auto; width: 50%" src="{% static 'img/SS_Product.png' %}"  alt="SS_Product">
        

      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}

{% block js %}
{% endblock %}