{% extends 'base.html' %}
{% load static %}

{% block title %}Script Spinner - Testimonial{% endblock %}

{% block css %}
{% endblock %}

{% block main %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Testimonial</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Testimonial</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">

        <p>
        We think Script Spinner is the best, read along to hear from some of the actual 
        people who use Script Spinner and feel the same!
        </p>
        <p> * insert reviews* </p>
        <img src="{% static 'img/review.jpg' %}" alt="Five Stars" style="width300px; height: 300px;">

      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}

{% block js %}
{% endblock %}